@media screen and (min-width: 768px) {
  body {
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    gap: 40px;
    grid-template-areas:
      "one two two three"
      "four five six three"
      "four eight seven seven";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .one {
    height: 135%;
    margin-bottom: 50px;
    align-items: center;
  }

  .one h2 {
    margin-top: 40px;
    margin-bottom: -20%;
    margin-left: 60px;
  }
  .one img {
    margin: 0;
    margin-bottom: 80px;
  }

  h1 {
    margin-top: 30px;
  }

  .two {
    height: 100%;
    margin-bottom: 20%;
  }

  .two p {
    margin: 0;
    margin-top: -20%;
  }

  .two img {
    margin-top: -10%;
  }

  .three {
    height: 90%;
    text-align: left;
  }

  .three h2,
  p {
    margin-left: 40px;
  }

  .three img {
    width: 100%;
    height: 100%;
    margin-left: 80px;
  }

  .four {
    margin-top: 45%;
    height: 77%;
  }

  .five,
  .six {
    height: 80%;
  }

  .six img {
    height: 100%;
  }

  .seven {
    margin-top: -12%;
    height: 125%;
    grid-template-columns: 1fr 1fr;
  }

  .seven img {
    position: relative;
    width: 80%;
    height: 80%;
    margin-top: 0;
  }

  .seven h2 {
    width: 90%;
    text-align: left;
    margin-left: -15%;
  }

  .eight {
    margin-top: -25%;
    height: 125%;
  }

  article {
    width: 100% !important;
    height: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
