@media screen and (max-width: 420px) {
  body {
    margin: 0;
    position: inherit;
    font-weight: 400;
  }

  .container {
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    text-align: center;
    justify-content: center;
    grid-template-areas:
      "one two two three"
      "four five six three"
      "four eight seven seven";
    grid-template-columns: 280px 280px 280px 25%;
    grid-template-rows: 290px 280px 275px;
  }
  .one {
    width: 325px;
    height: 200px;
    padding: 10px;
  }

  .one h2 {
    margin-bottom: 10px;
  }
  .one img {
    margin: 20px;
  }
  .two {
    width: 344px;
    height: 275px;
    margin-top: 20px;
  }

  .three {
    width: 325px;
    height: 530px;
    text-align: center;
    align-items: center;

    padding: 10px;
  }

  .three img {
    width: 300px;
  }

  .four {
    width: 325px;
    height: 340px;
    align-items: flex-start;
    justify-content: left;
    align-content: left;
    padding: 10px;
    margin-top: 0;
  }
  .four img {
    margin-left: 15px;
  }

  .five {
    width: 325px;
    height: 200px;
    text-align: left;
    align-items: left;
    padding: 10px;
  }
  .six {
    width: 325px;
    height: 250px;
    padding: 10px;
  }

  .seven {
    width: 325px;
    height: 400px;
    text-align: center;
    padding-left: 10px;
    flex-direction: column;
  }
  .seven img {
    margin-bottom: 35px;
  }

  .seven h2 {
    margin-left: 65px;
    margin-right: 65px;
  }

  .eight {
    width: 305px;
    height: 225px;
    padding: 20px;
  }

  h1 {
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  h2 {
    font-size: 30px;
    margin: 20px;
  }
}
